/**
 * http://materializecss.com/color.html
 */
.dijitIcon.Calendar0 {
    color: #616161;
}

.Calendar0 .labels {
    background-color: #616161;
}

.Calendar0 .bg {
    background-color: #616161;
}

.dijitIcon.Calendar1 {

    color: #d32f2f;
}

.Calendar1 .labels {

    background-color: #d32f2f;
}

.Calendar1 .bg {

    background-color: #d32f2f;
}

.dijitIcon.Calendar2 {
    color: #e64a19;
}

.Calendar2 .labels {
    background-color: #e64a19;
}

.Calendar2 .bg {
    background-color: #e64a19;
}

.dijitIcon.Calendar3 {
    color: #f57c00;
}

.Calendar3 .labels {
    background-color: #f57c00;
}

.Calendar3 .bg {
    background-color: #f57c00;
}

.dijitIcon.Calendar4 {
    color: #ffa000;
}

.Calendar4 .labels {
    background-color: #ffa000;
}

.Calendar4 .bg {
    background-color: #ffa000;
}

.dijitIcon.Calendar5 {
    color: #fbc02d;
}

.Calendar5 .labels {
    background-color: #fbc02d;
}

.Calendar5 .bg {
    background-color: #fbc02d;
}

.dijitIcon.Calendar6 {
    color: #afb42b;
}

.Calendar6 .labels {
    background-color: #afb42b;
}

.Calendar6 .bg {
    background-color: #afb42b;
}

.dijitIcon.Calendar7 {
    color: #689f38;
}

.Calendar7 .labels {
    background-color: #689f38;
}

.Calendar7 .bg {
    background-color: #689f38;
}

.dijitIcon.Calendar8 {
    color: #388e3c;
}

.Calendar8 .labels {
    background-color: #388e3c;
}

.Calendar8 .bg {
    background-color: #388e3c;
}

.dijitIcon.Calendar9 {
    color: #00796b;
}

.Calendar9 .labels {
    background-color: #00796b;
}

.Calendar9 .bg {
    background-color: #00796b;
}

.dijitIcon.Calendar10 {
    color: #0097a7;
}

.Calendar10 .labels {
    background-color: #0097a7;
}

.Calenda10 .bg {
    background-color: #0097a7;
}

.dijitIcon.Calendar11 {
    color: #0288d1;
}

.Calendar11 .labels {
    background-color: #0288d1;
}

.Calendar11 .bg {
    background-color: #0288d1;
}

.dijitIcon.Calendar12 {
    color: #1974d2;
}

.Calendar12 .labels {
    background-color: #1974d2;
}

.Calendar12 .bg {
    background-color: #1974d2;
}

.dijitIcon.Calendar13 {
    color: #303f9f;
}

.Calendar13 .labels {
    background-color: #303f9f;
}

.Calendar13 .bg {
    background-color: #303f9f;
}

.dijitIcon.Calendar14 {
    color: #512da8;
}

.Calendar14 .labels {
    background-color: #512da8;
}

.Calendar14 .bg {
    background-color: #512da8;
}

.dijitIcon.Calendar15 {
    color: #7b1fa2;
}

.Calendar15 .labels {
    background-color: #7b1fa2;
}

.Calendar15 .bg {
    background-color: #7b1fa2;
}

.dijitIcon.Calendar16 {
    color: #c2185b;
}

.Calendar16 .labels {
    background-color: #c2185b;
}

.Calendar16 .bg {
    background-color: #c2185b;
}

.dijitIcon.Calendar17 {
    color: #5d4037;
}

.Calendar17 .labels {
    background-color: #5d4037;
}

.Calendar17 .bg {
    background-color: #5d4037;
}

.dijitIcon.Calendar18 {
    color: #455a64;
}

.Calendar18 .labels {
    background-color: #455a64;
}

.Calendar18 .bg {
    background-color: #455a64;
}







