<div>
    <div data-dojo-type="dijit/form/DropDownButton"
         class="colorPickerDropDown"
         data-dojo-attach-point="colorPickerDropDown"
         data-dojo-props="iconClass:'dijitIcon dijitEditorIcon dijitEditorIconHiliteColor'">
        <span></span>
        <div data-dojo-type="dijit/TooltipDialog">
            <table class="colorPalette" data-dojo-attach-point="colorPalette">
                <tr>
                    <td><span title="Calendar1" class="fa fa-square fa-3x Calendar1 dijitIcon"></span>
                    </td>
                    <td><span title="Calendar2" class="fa fa-square fa-3x Calendar2 dijitIcon"></span>
                    </td>
                    <td><span title="Calendar3" class="fa fa-square fa-3x Calendar3 dijitIcon"></span>
                    </td>
                    <td><span title="Calendar4" class="fa fa-square fa-3x Calendar4 dijitIcon"></span>
                    </td>
                </tr>
                <tr>
                    <td><span title="Calendar8" class="fa fa-square fa-3x Calendar8 dijitIcon"></span>
                    </td>
                    <td><span title="Calendar7" class="fa fa-square fa-3x Calendar7 dijitIcon"></span>
                    </td>
                    <td><span title="Calendar6" class="fa fa-square fa-3x Calendar6 dijitIcon"></span>
                    </td>
                    <td><span title="Calendar5" class="fa fa-square fa-3x Calendar5 dijitIcon"></span>
                    </td>
                </tr>
                <tr>
                    <td><span title="Calendar9" class="fa fa-square fa-3x Calendar9 dijitIcon"></span>
                    </td>
                    <td>
                        <span title="Calendar10" class="fa fa-square fa-3x Calendar10 dijitIcon"></span>
                    </td>
                    <td>
                        <span title="Calendar11" class="fa fa-square fa-3x Calendar11 dijitIcon"></span>
                    </td>
                    <td>
                        <span title="Calendar12" class="fa fa-square fa-3x Calendar12 dijitIcon"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span title="Calendar16" class="fa fa-square fa-3x Calendar16 dijitIcon"></span>
                    </td>
                    <td>
                        <span title="Calendar15" class="fa fa-square fa-3x Calendar15 dijitIcon"></span>
                    </td>
                    <td>
                        <span title="Calendar14" class="fa fa-square fa-3x Calendar14 dijitIcon"></span>
                    </td>
                    <td>
                        <span title="Calendar13" class="fa fa-square fa-3x Calendar13 dijitIcon"></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>