.dijitIconSave,
.dijitIconPrint,
.dijitIconCut,
.dijitIconCopy,
.dijitIconClear,
.dijitIconDelete,
.dijitIconUndo,
.dijitIconEdit,
.dijitIconNewTask,
.dijitIconEditTask,
.dijitIconEditProperty,
.dijitIconTask,
.dijitIconFilter,
.dijitIconConfigure,
.dijitIconSearch,
.dijitIconApplication,
.dijitIconBookmark,
.dijitIconChart,
.dijitIconConnector,
.dijitIconDatabase,
.dijitIconDocuments,
.dijitIconMail,
.dijitLeaf,
.dijitIconFile,
.dijitIconFunction,
.dijitIconKey,
.dijitIconPackage,
.dijitIconSample,
.dijitIconTable,
.dijitIconUsers,
.dijitFolderClosed,
.dijitIconFolderClosed,
.dijitFolderOpened,
.dijitIconFolderOpen,
.dijitIconError,
.dijitIconLoading {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-decoration: inherit;
    vertical-align: bottom;
    width: 16px;
    height: 16px;
    line-height: 16px;
}